.main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  height: 70vh;
  width: 70vw;
  background-color: #cfdbd5;
  color: #242423;
  overflow: hidden;
}
.main .form {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main h1 {
  font-family: "Permanent Marker", cursive;
  margin-bottom: 10px;
}
.main form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main p {
  font-family: "Caveat", cursive;
  font-size: 1.2rem;
}
.main input[type=text] {
  padding: 10px;
  margin: 10px;
  padding-bottom: 0;
  height: 40px;
  width: 250px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #333533;
  outline: 0;
}
.main input[type=password] {
  padding: 10px;
  margin: 10px;
  padding-bottom: 0;
  height: 40px;
  width: 250px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #333533;
  outline: 0;
}
.main input[type=submit] {
  margin: 10px;
  width: 100px;
  height: 30px;
  border: none;
  background-color: #333533;
  color: #cfdbd5;
  border-radius: 20px;
  transition: 0.5s;
  outline: 0;
}
.main input[type=submit]:hover {
  background-color: #f5cb5c;
  color: #242423;
  border: 1px solid #333533;
}
.main label {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  position: absolute;
  top: 0;
}
.main .backgroundHeader {
  background-color: #f5cb5c;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: flex-end;
  align-items: center;
}
.main img {
  width: 30%;
  height: 70%;
  position: absolute;
  top: 50%;
  left: 85%;
  transform: translate(-85%, -50%);
}